.action {
    background-color: #0062b9;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    padding: auto 2rem;
}
.action:hover {
    background-color: #5badf5;
}
.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.enfant {
    flex: 1 1 40%;
    margin-right: 4%;
}
.center-cont {
    justify-content: start;
    align-items: flex-start;
}
.justify {
    text-align: justify;
}
.center-text {
    text-align: center;
}